<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MineSweeping.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2C3742971E5C770400BB3497</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C3742B01E5C770400BB3497</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C3742BB1E5C770400BB3497</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
